#map-container {
  position: relative;
  height: 100vh;
  width: 100%;
}
#map {
  margin:1rem;
  border:5px solid black;
  border-radius: 4px;
  width:98%;
  height:38.3rem;
  max-width:100rem;
  max-height: 100rem;
  position: relative;
}

#info {
  display:none;
  position: absolute;
  top: 0;
  right: 0;
  height: 38.3rem;
  width: 30%;
  background-color: #c7e6ff;
  border:5px solid black;
  padding: 10px;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  z-index: 1;
}

#info_content {
  margin-left: 1rem;
  margin-top: 1rem;
}

#add-gem-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 2;
}

#close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#underline{
  text-decoration: underline;
}

#add-gem-form {
  background-color: #3A6EA5; /* Blue background */
  border-radius: 15px; /* Rounded corners */
  padding: 20px;
  color: white;
  width: 25rem;
  margin: auto;
}

#gem-form label, #gem-form input, #gem-form textarea {
  display: block;
  margin-bottom: 10px;
}

#gem-form input, #gem-form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

#gem-form button, #cancel-btn, #add-gem-btn, #delete-gem-btn {
  background-color: #5BC0EB; /* Darker blue for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#delete-gem-btn {
  padding: 5px 10px;
}

#gem-form button:hover, #cancel-btn:hover, #add-gem-btn:hover, #delete-gem-btn:hover{
  background-color: #0091ff; /* Even darker blue on hover */
}